In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.read_csv("chicago_crimes_full_2020_2024.csv")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1184260 entries, 0 to 1184259
Data columns (total 11 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1184260 non-null  int64
 1   date                  1184260 non-null  object
 2   year                  1184260 non-null  int64
 3   primary_type          1184260 non-null  object
 4   description           1184260 non-null  object
 5   location_description  1177570 non-null  object
 6   arrest                156951 non-null   object
 7   domestic              233826 non-null   object
 8   district              1184260 non-null  int64
 9   latitude              1164531 non-null  float64
 10  longitude             1164531 non-null  float64
dtypes: float64(2), int64(3), object(6)
memory usage: 99.4+ MB

In [5]:
for col in df.columns:
    print(f"Column {col}:")
    print(f"Number of unique values: {len(df[col].value_counts())}")
    print(f"Number of null values: {df[col].isnull().sum()}")
    print("------------------------------")

Column id:
Number of unique values: 1184244
Number of null values: 0
------------------------------
Column date:
Number of unique values: 580481
Number of null values: 0
------------------------------
Column year:
Number of unique values: 5
Number of null values: 0
------------------------------
Column primary_type:
Number of unique values: 580481
Number of null values: 0
------------------------------
Column year:
Number of unique values: 5
Number of null values: 0
------------------------------
Column primary_type:
Number of unique values: 33
Number of null values: 0
------------------------------
Column description:
Number of unique values: 33
Number of null values: 0
------------------------------
Column description:
Number of unique values: 474
Number of null values: 0
------------------------------
Column location_description:
Number of unique values: 182
Number of unique values: 474
Number of null values: 0
------------------------------
Column location_description:
Number of unique values: 182
Number of null values: 6690
------------------------------
Column arrest:
Number of unique values: 1
Number of null values: 1027309
------------------------------
Column domestic:
Number of unique values: 1
Number of null values: 950434
------------------------------
Column district:
Number of unique values: 23
Number of null values: 0
------------------------------
Column latitude:
Number of null values: 6690
------------------------------
Column arrest:
Number of unique values: 1
Number of null values: 1027309
------------------------------
Column domestic:
Number of unique values: 1
Number of null values: 950434
------------------------------
Column district:
Number of unique values: 23
Number of null values: 0
------------------------------
Column latitude:
Number of unique values: 320644
Number of null values: 19729
------------------------------
Column longitude:
Number of unique values: 320644
Number of null values: 19729
------------------------------
Column longitude:
Number of unique values: 320539
Number of null values: 19729
------------------------------
Number of unique values: 320539
Number of null values: 19729
------------------------------

In [6]:
duplicates = df.duplicated().sum()
print(f"Number of duplicates: {duplicates}")

Number of duplicates: 16

In [7]:
df = df.drop_duplicates()

In [8]:
duplicates = df.duplicated().sum()
print(f"Number of duplicates: {duplicates}")

Number of duplicates: 0

In [9]:

df = df.dropna(subset=['latitude', 'longitude'])

In [10]:
columns_to_check = ['latitude', 'longitude']

for col in columns_to_check:
    print(f"Column {col}:")
    print(f"Number of unique values: {len(df[col].value_counts())}")
    print(f"Number of null values: {df[col].isnull().sum()}")
    print("------------------------------")

Column latitude:
Number of unique values: 320644
Number of null values: 0
------------------------------
Column longitude:
Number of unique values: 320539
Number of null values: 0
------------------------------
Number of unique values: 320539
Number of null values: 0
------------------------------

In [11]:

cols = ['arrest', 'domestic']

for col in cols:
    df[col] = df[col].fillna(False).astype('boolean')

C:\Users\EL3ATTY\AppData\Local\Temp\ipykernel_6180\1380174813.py:4: FutureWarning: Downcasting object dtype arrays on .fillna, .ffill, .bfill is deprecated and will change in a future version. Call result.infer_objects(copy=False) instead. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df[col] = df[col].fillna(False).astype('boolean')

In [13]:

col = 'location_description'
df[col] = df[col].fillna('unavailable')

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1164515 entries, 0 to 1184259
Data columns (total 11 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1164515 non-null  int64
 1   date                  1164515 non-null  object
 2   year                  1164515 non-null  int64
 3   primary_type          1164515 non-null  object
 4   description           1164515 non-null  object
 5   location_description  1164515 non-null  object
 6   arrest                1164515 non-null  boolean
 7   domestic              1164515 non-null  boolean
 8   district              1164515 non-null  int64
 9   latitude              1164515 non-null  float64
 10  longitude             1164515 non-null  float64
dtypes: boolean(2), float64(2), int64(3), object(4)
memory usage: 93.3+ MB

In [15]:
df['date'] = pd.to_datetime(df['date'])

df = df.sort_values(by='date', ascending=True)

df = df.reset_index(drop=True)

In [16]:
df.head()

,id,date,year,primary_type,description,location_description,arrest,domestic,district,latitude,longitude
0,11968575,2020-01-01,2020,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,OTHER,False,False,2,41.837964,-87.617471
1,12258770,2020-01-01,2020,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT $300 AND UNDER,COLLEGE / UNIVERSITY - GROUNDS,False,False,19,41.965381,-87.659111
2,12255046,2020-01-01,2020,OTHER OFFENSE,TELEPHONE THREAT,OTHER (SPECIFY),False,True,10,41.854926,-87.707781
3,13549608,2020-01-01,2020,OFFENSE INVOLVING CHILDREN,AGGRAVATED CRIMINAL SEXUAL ABUSE BY FAMILY MEMBER,RESIDENCE,False,True,15,41.898643,-87.749604
4,12073603,2020-01-01,2020,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,STREET,False,False,4,41.731020,-87.565838

In [18]:
print(df[['latitude', 'longitude']].describe())

           latitude     longitude
count  1.164515e+06  1.164515e+06
mean   4.184474e+01 -8.766929e+01
std    8.774032e-02  5.981934e-02
min    3.661945e+01 -9.168657e+01
25%    4.176883e+01 -8.771123e+01
50%    4.186164e+01 -8.766269e+01
75%    4.190871e+01 -8.762698e+01
max    4.202259e+01 -8.752453e+01

In [19]:
df = df[
    (df['latitude'] >= 41.6445) &
    (df['latitude'] <= 42.0230) &
    (df['longitude'] >= -87.9401) &
    (df['longitude'] <= -87.5237)
]

In [21]:
print(df[['latitude', 'longitude']].describe())

           latitude     longitude
count  1.164513e+06  1.164513e+06
mean   4.184475e+01 -8.766929e+01
std    8.747276e-02  5.958727e-02
min    4.164459e+01 -8.793973e+01
25%    4.176883e+01 -8.771123e+01
50%    4.186164e+01 -8.766269e+01
75%    4.190871e+01 -8.762698e+01
max    4.202259e+01 -8.752453e+01

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1164513 entries, 0 to 1164514
Data columns (total 11 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   id                    1164513 non-null  int64
 1   date                  1164513 non-null  datetime64[ns]
 2   year                  1164513 non-null  int64
 3   primary_type          1164513 non-null  object
 4   description           1164513 non-null  object
 5   location_description  1164513 non-null  object
 6   arrest                1164513 non-null  boolean
 7   domestic              1164513 non-null  boolean
 8   district              1164513 non-null  int64
 9   latitude              1164513 non-null  float64
 10  longitude             1164513 non-null  float64
dtypes: boolean(2), datetime64[ns](1), float64(2), int64(3), object(3)
memory usage: 93.3+ MB

In [31]:
df['arrest'].value_counts()

arrest
False    1010700
True      153813
Name: count, dtype: Int64

In [29]:
output_filename = "chicago_crimes_cleaned.csv"

df.to_csv(output_filename, index=False)
print(f"Saved: {output_filename}")

import os
print('Full path:', os.path.abspath(output_filename))

Saved: chicago_crimes_cleaned.csv
Full path: e:\study\Semster 3\metho\DSM project\chicago_crimes_cleaned.csv